@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #090A21;
  color: #EFECEA;
}


@font-face {
  font-family: "Nohemi";
  src: url("../public/fonts/Nohemi-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("../public/fonts/Nohemi-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nohemi";
  src: url("../public/fonts/Nohemi-SemiBold.ttf");
  font-weight: 600;
}

* {
  font-family: "Nohemi";
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .group-hover\:w-full {
  width: 100%;
}
